<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Profile</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
     {{>navbar}}
   <h1>Profile</h1> 
</body>
</html>